{% extends 'base.html' %}
{% block title %}About {% endblock title %}

{% block body %}
    <div class="container">
        <section id="about">
            <h2>About This App</h2>
            <p>Welcome to our To-Do List App! This application is designed to help you efficiently manage your tasks and stay organized. Built using Flask, a lightweight and powerful web framework, our app allows you to easily add, update, and delete your to-dos.</p>
            
            <h3>Features:</h3>
            <ul>
                <li><strong>Add Tasks:</strong> Quickly add new tasks to your to-do list.</li>
                <li><strong>Update Tasks:</strong> Edit and update existing tasks with ease.</li>
                <li><strong>Delete Tasks:</strong> Remove tasks that are no longer needed.</li>
            </ul>
            
            <p>Stay productive and never miss a task with our user-friendly To-Do List App!</p>
        </section>
    </div>
{% endblock body %}